<div *ngFor="let doctor of doctors" class="doctor-holder " [hidden]="doctor.available_from =='No schedule available'">
  <!-- <div *ngFor="let doctor of doctors" class="doctor-holder " > -->
  <div class="body"  >
    <div class="avatar">
      <ion-avatar>
             <img [src]="doctor.doctorImageUrl" onerror="this.src='assets/images/image_2.png'" >
      </ion-avatar>
      <!-- TODO: Add Rating Component-->
      <p>⭐ ⭐ ⭐ ⭐ ⭐</p>
    </div>
    <div class="info">
      <h6><b> {{ doctor?.doctorName }}</b></h6>
      <p>
        <img  src="assets/images/icon_2.png">
       {{ doctor.degrees }}</p>
      <p>
        <img  src="assets/images/fees_2.png"> 
        Price: {{ doctor?.price }} </p>
      <p>
        <img  src="assets/images/map_2.png"> 
        {{ doctor?.areaName }}</p>
    </div>
    <div class="nav-btn">
      <ion-button fill="clear" size="large">
        <ion-icon color="danger" name="arrow-forward"></ion-icon>
      </ion-button>
    </div>
  </div>
  <div class="footer ion-flex ion-justify-content-between">
    <p>{{ doctor?.available_from }}</p>
    <!-- <ion-button (click)="openDoctor(doctor)" [disabled]="doctor.available_from =='No schedule available'" color="danger" fill="outline" shape="round"> -->
      <ion-button (click)="openDoctor(doctor)"  color="danger" fill="outline" shape="round">
      Book
    </ion-button>
  </div>
</div>
